.Cart {
    padding: 90px 50px;
    width: 100%;
    height: 100vh;
    background: rgb(240, 238, 238);
}



.Cart-tabs {
    background: white;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.flipkart,
.grocery {
    width: 30%;
    padding: 20px 10px;
    cursor: pointer;
}

.active {
    border-bottom: 3px solid rgb(42, 85, 229);
    color: rgb(42, 85, 229);
}

.cart-items {
    margin-top: 1rem;
    min-height: 350px;
    width: 100%;
    background: white;
    padding: 10px 0 36px;
}

.cart-items--left {
    width: 150px;

}

.cart-items--left img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.cart-items--right {
    margin-left: 100px;
}

.cart-items--right p {
    padding-top: 20px;
}

.cart-items-buttom {
    width: 200px;
    padding: 18px 8px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    background: #fb641b;
    margin-top: 20px;
}

.CartitemsNull {
    text-align: center;
}

.CartitemsNull-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.CartitemsNull-title {
    font-size: 18px;
    padding: 5px 0;
    font-weight: 400;
}



