.footer{
    display:grid;
    grid-template-columns:5fr 5fr 5fr 3fr 6fr 6fr;
    padding:40px;
    background-color:#172337;
    color:#ffffff;
}
h2{
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
}
.footer-about{
    line-height:2;
    display:block;
    font-size:12px;
    font-weight:400;
    margin-left:50px;
}
.footer-help{
    line-height:2;
    display:block;
    font-size:12px;
    font-weight:400;
}
.footer-policy{
    line-height:2;
    display:block;
    font-size:12px;
    font-weight:400;
}
.footer-social{
    line-height:2;
    display:block;
    font-size:12px;
    font-weight:400;
}
.footer-mail{
    border-left: 1px solid #454d5e;
    padding: 0 25px;
    line-height:1.5;
    display:block;
    font-size:12px;
    font-weight:400;
}
.footer-address{
    line-height:1.5;
    display:block;
    font-size:12px;
    font-weight:400;
}
.footer-bottom{
    display:grid;
    grid-template-columns:4fr 4fr 4fr 4fr 4fr 4fr;
    padding:30px;
    background-color:#172337;
    color:#ffffff;
    border-top: 1px solid #454d5e;
    font-size:14px;
}
.footer-cards{
    margin-top:-3px;
}


#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
    size: 70px;
  }